body{
     background-image: url(/Project/pictures/livingHD4.jpg) ;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'lora';
        }
img.background{
    position: absolute;
    z-index: -1;
    -webkit-filter: blur(10px);
    filter: blur(10px);

}
.position{
    position: fixed;
}
.blur{
    filter: blur(4px);
}
h1 {
    color: brown;
    font-family: 'lora';
    font-size: 80px;
    font-weight: 700px;
}
h2{
    color: brown;
    font-family: 'lora';
    font-size: 40px;
    font-weight: 2000;
}
h3{
    color: brown;
    font-family: 'lora';
    font-size: 30px;
    font-weight: 2000;
}
h4{
    color: brown;
    font-family: 'lora';
    font-size: 25px;
    font-weight: 2000;
}
p{
    font-family: 'lora';
}
.div1{
    padding: 0%;
    margin: 0%;
}
.div2{
    text-align: center;
   
}